.custom-cursor.svelte-jztt4t{position:absolute;width:2px;background-color:currentColor;pointer-events:none;animation:svelte-jztt4t-blink 1s step-end infinite;z-index:10}@keyframes svelte-jztt4t-blink{0%,to{opacity:1}50%{opacity:0}}
