@import 'tailwindcss';
@plugin "daisyui" {
  themes: caramellatte --default;
};
@plugin '@tailwindcss/typography';


@media print {
	body {
		margin: 0 !important;
	}
}

:root {
	--ck-content-font-family: 'Helvetica';
}

.main-container {
	font-family: var(--ck-content-font-family);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
	/*min-width: 795px;
	max-width: 795px;*/
}

.editor-container__sidebar_ckeditor-ai:has(.ck-tabs.ck-hidden) {
	max-width: 0;
	min-width: 0;
}
